a{
	text-decoration: none;
	color: black;
}

body{
	margin: 0;
	font-family: arial;
	color: black;
	background-color: white;
}

.topBar{
	background-color: pink;
	text-align: center;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

#logo{
	color: white;
	text-align: left;
	font-size: 2em;
	font-weight: bold;
}

#smallBar li{
	text-align: right;
	list-style: none;
	position: relative;
	display: inline-block;
	color: grey;
}

#smallBar a:hover{
	color: red;
}

h4{
	margin-top: 5%;
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: 800px) {
	.topBar{
	display: block;
}

}

table{
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

#youtube a{
	color: white;
}

footer{
	color: grey;
	background-color: pink;
	bottom: 0;
	position: fixed;
	width: 100%;
	font-size: 1em;
	text-align: center;
}